<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css" />
  <title>Goodreads</title>
</head>

<body>
	<div id="theTop">
		  <h1>Goodreads</h1>
	</div>
	
	<div id="app">
		<div id ="searchBar">
			<h3>Search Books:</h3>
			 <form v-on:submit.prevent="searchBook">
					<input v-model="bookEntered"></input>
					<button type="submit" id="sbutton">Search</button>
			  </form>
		</div>
		<div v-if="loading">
			<p>Loading... &nbsp; <img id="load" alt="loading" src="loading.png"></p>
		</div>
		<div v-else> 
			<div v-for="book in allBooks">	
				<hr>
				<p class="bookTitle"><img v-bind:src="book.url" height="40"> &nbsp;  &nbsp; {{book.title}} &nbsp; &nbsp; &nbsp; 
					<button v-on:click="addBooktoFav(book.place)" id="favButton">	&#9733;</button></p>
				<p>{{book.author}} </p>
				<p> -- {{book.publishDate}}</i></p>
		 	</div>
		</div>
		<!-- I don't want to diplay thin unless they click a button and want to see it. I could have the button at the top, and if it is clicked then the page scrolls down and displays the page -->
		<div id="favorties">
			
			
			
	    </div>
	</div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="script.js"></script>
</body>

</html>