
.mainBody {
	background: #B7B7B7;
	height: 70%;
	width: 70%;
	align-content: center;
	margin: 10em;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 30px;
}
.git {
	text-align: center;
	height: 30px;
	background: #DFA9A9;
	width: 70%;
	align-content: center;
	display: inline-block;
	margin-left: 10em;
	padding: 30px;
}
